#footer {
  width: 100%;
  height: 210px;
  position: relative;
  bottom: 0px;
  left: 0px;
  background-color: #000000;
  display: inline-block;
  padding-left: 19%;
  padding-right: 11%;

  .contact-container {
    display: block;
    height: 60px;
  }


  .footer__container {
    width: 28%;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    min-height: 200px;
    float: left;

    input{
      width: 95%;
    }

    .container__heading {
      font-size: 20px;
      color: #ffffff;
      border-bottom: solid #ffffff 1px;
      width: 80%;
      text-align: center;
      display: block;
      margin: 0 auto;
    }

    i {
      color: #ffffff;
      display: inline-block;
      margin-top: 10px;
    }

    .icon-text{
      font-size: 12px;
      display: block;
      width: 100%;
      border: none;

      &:after{
        display: block;
      }
    }


    label{
      color: #ffffff;
      margin-top: 10px;
    }

    ul {
      list-style: none;
      display: inline-block;
      padding: 10px 0 0 0;

      li {
        color: #ffffff;
        font-size: 16px;

        &:hover {
          cursor: pointer;
          color: rgb(248, 255, 28);
        }
      }
    }
  }
 }

