.about-container{
  width: 100%;
  background-color: #D0F5FC;
}

  span {
    width: 65%;
    float: left;
    display: block;
    margin-right: 20px;
  }

.staff-portrait {
  height:auto;
  width:31%;
  max-width: 300px;
  display: inherit;
}

