@import './mixins/breakpoint';

.about-container{
  width: 100%;
  background-color: #D0F5FC;


  span {
    width: 65%;
    float: left;
    display: block;
    margin-right: 20px;
  }
}

.staff-portrait {
  height:auto;
  width:31%;
  max-width: 300px;
  display: inherit;
  float: right;


  @include breakpoint(mobile-portrait){
    display: none;
  }

  @include breakpoint(mobile-landscape){
    display: none;
  }
}

.text-area__about-text{
  width: 65%;
  float: left;
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;

  @include breakpoint(mobile-portrait){
    margin-right: 0px;
    width: 100%;
  }

  @include breakpoint(mobile-landscape){
    margin-right: 0px;
    width: 100%;
  }
}

