.blog-posts{

  list-style: none;

.triangle-border-bottom {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  border: 5px solid #5a8f00;
  color: #333;
  background: #90FFA8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  &:before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #5a8f00 transparent;
    display: block;
    width: 0;
  }

  &:after{
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #90FFA8 transparent;
    display: block;
    width: 0;
  }
}

.triangle-border-top {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  border: 5px solid #5a8f00;
  color: #333;
  background: #ffd5f4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  &:before {
    content: "";
    position: absolute;
    top: -20px;
    bottom: auto;
    left: auto;
    right: 40px;
    border-width: 0 20px 20px;
    border-style: solid;
    border-color: #5a8f00 transparent;
    display: block;
    width: 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: -13px;
    bottom: auto;
    left: auto;
    right: 47px;
    border-width: 0 13px 13px;
    border-style: solid;
    border-color: #ffd5f4 transparent;
    display: block;
    width: 0;
  }

}
  .blog-posts__name{
    font-size: 20px;
    float: left;
    margin-left: 20px;
    font-family: cursive;
  }

  .blog-posts__date{
    font-size: 20px;
    float: left;
    font-family: cursive;
    font-weight: bold;
  }

  .blog-posts__title{
    font-size: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    font-weight: bold;
  }
}

.outer-container{
  background-color: #D0F5FC;
}

.button-container {
  margin: 0 auto;
  width: 270px;

  >.left{
    float: left;
  }

  >.right{
    float: right;
  }
}

