@import './mixins/breakpoint';

.form-container{
  width: 50%;
  float: left;

  @include breakpoint(mobile-portrait){
    width: 100%;
  }

  @include breakpoint(mobile-landscape){
    width: 100%;
  }
}

.centred-alert-text{
  float: right;
  height: 40px;
  line-height: 40px;
  width: 64%;
  text-align: center;
  font-weight: bold;
}

.send-button{
  margin-left: 46.5%;
  width: 29%;
}

.address{
  position: relative;
  top: 57px;
  left: 30px;
}
