@import './common';
@import './image-carousel';
@import './mixins/information-square';
@import './mixins/breakpoint';

.information-container {
  background-color: #D0F5FC;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 0px;

  .information-container__image{
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .information-container__information-square {

    width: 304px;
    border-radius: 15px;
    display: inline-block;
    margin: 10px 25px 10px 25px;
    vertical-align: top;
    min-height: 245px;

    @include breakpoint(mobile-portrait){
      margin: 0 auto;
      width: 124px;
      border-radius: 15px;
      display: inline-block;
      vertical-align: top;
      min-height: 0px;
    }

    &:nth-child(3n+1) {
      @include information-square(#6495ed);
    }

    &:nth-child(3n+2) {
      @include information-square(#ed8db6);
    }

    &:nth-child(3n+3) {
      @include information-square(#3ced6e);
    }

    .information-square__summary {
      background-color: #ffffff;
      display: block;
      width: 100%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .information-square__title {
      font-family: Century Gothic, sans-serif;
      color: #ffffff;
      font-size: 2em;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;

      @include breakpoint(mobile-portrait){
        font-size: 1em;
      }
    }
  }
}
