@import './common';
@import './image-carousel';
@import './mixins/information-square';

.information-container {
  background-color: #D0F5FC;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;

  .information-container__information-square {

    width: 304px;
    border-radius: 15px;
    display: inline-block;
    margin: 10px 25px 10px 25px;
    vertical-align: top;
    min-height: 245px;

    &:nth-child(3n+1) {
      @include information-square(#6495ed);
    }

    &:nth-child(3n+2) {
      @include information-square(#ed8db6);
    }

    &:nth-child(3n+3) {
      @include information-square(#3ced6e);
    }

    .information-square__summary {
      background-color: #ffffff;
      display: block;
      width: 100%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .information-square__title {
      font-family: Century Gothic, sans-serif;
      color: #ffffff;
      font-size: 28px;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
