<div class="outer-container">
    <div class="text-area">
        <h2 class="content-title">Blog</h2>
        <div class="button-container">
            <button ng-click="(getPreviousFivePosts())" ng-show="currentPage != 0" class="btn btn-primary left">Previous five posts</button>
            <button ng-click="(getNextFivePosts())" ng-show="posts.length == 5" class="btn btn-primary right">Next five posts</button>
            <!--TODO this wont work if the number of items in firebase is divisible by 5 % 2 = 0-->
        </div>

        <br />
        <br />

        <ul class="blog-posts">
            <li ng-repeat="post in posts">
                <div ng-class="{'triangle-border-top': $index % 2 == 0, 'triangle-border-bottom': $index % 2 != 0}">
                    <div class="blog-posts__header-container">
                        <span class="blog-posts__date">Date : {{post.date}}</span>
                        <span class="blog-posts__name">Written by : {{post.name}}</span>
                    </div>
                    <br />
                    <span class="blog-posts__title">{{post.title}}</span>
                    <h5>{{post.message}}</h5>
                </div>
            </li>
        </ul>

        <div class="button-container">
            <button ng-click="(getPreviousFivePosts())" ng-show="currentPage != 0" class="btn btn-primary left">Previous five posts</button>
            <button ng-click="(getNextFivePosts())" ng-show="posts.length == 5" class="btn btn-primary right">Next five posts</button>
            <!--TODO this wont work if the number of items in firebase is divisible by 5 % 2 = 0-->
        </div>
        <br />
        <br />
        <br />
    </div>
</div>