<div class="text-area">
    <h2 class="content-title">Blog</h2>

    <ul class="blog-posts">
        <li>
            <div ng-class="{'triangle-border-top': $index % 2 == 0, 'triangle-border-bottom': $index % 2 != 0}">
                <span class="blog-posts__name">fgfgfgfgfg</span> <span class="blog-posts__date">25/05/99<span>
                <h5>fgfgfgfg</h5>
            </div>
        </li>
    </ul>

    <button ng-click="(getPreviousFivePosts())" ng-show="currentPage != 0">Previous</button>
    <button ng-click="(getNextFivePosts())" ng-show="posts.length == 5">Next</button>
    <!--TODO this wont work if the number of items in firebase is divisible by 5 % 2 = 0-->

</div>